.name{
    background: url(../img/title1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
}
.title> li{
    background: url(../img/title.png);
    background-size: 100% 100%;
}